.servicestatus span.productive {color: green}
.servicestatus span.planning {color: yellow}
.servicestatus span.testing {color: orange}
.servicestatus span.unavailable {color: red}

.subjects ul {
  list-style: none;
  padding: 0;
  display: inline;
}
.subjects ul li {
  display: inline-block;
}
.subjects li::after {
  content: ", ";
}
.subjects li:last-child::after {
  content: "";
}

/* portlets */

.portletLzvContact .portrait {
  display: block;
  border-radius: 15px;
}

/* contacts */
.contact  {
  padding: 1em;
  clear: none;
}

.contact img {
  margin-right: 1em;
  border-radius: 10px;
  float:left;
}